{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%"
      },
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
